body, html {
  margin: 0;
  padding: 0;
  color: #fff;
  background: #303030;
  font-family: 'Montserrat', Roboto, Arial, sans-serif;
  font-weight: 600;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 600;
}

.coin {
  background-color: #FFF;
  width: 2.5rem;
  height: 0.3rem;
  margin-top: 1px;
}

.coin.previous {
  opacity: 0.4;
}

.coin.active {
  opacity: 1;
}

.coin:not(.active):not(.previous) {
  background-color: rgba(255, 255, 255, 0.1);
}

.coin.overflow {
  background-color: #d32f2f !important;
}

.coin.dead {
  background-color: black !important;
}

.coin-stack:nth-last-child(even) {
  padding-left: 0.5rem;
}

.coin-stack:nth-last-child(odd) {
  padding-right: 0.5rem;
}

.coin-stack {
  position: relative;
  padding-top: 0.1rem;
}

.coin-stack::before {
  content: '';
  position: absolute;
  left: 3.5rem;
  top: 0;
  width: 1rem;
  height: 1px;
  background-color: #fff;
}

.coin-stack::after {
  content: attr(data-value);
  position: absolute;
  left: 4.5rem;
  top: 0.1rem;
  font-size: 0.9rem;
}

.coin-stack-group {
  margin-bottom: 0.5rem;
}

.coin-box {
  background-color: #003b6f;
  color: #FFF;
  padding: 2rem;
  clear: both;
  height: 33.5rem;
  width: 60rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);

  & > div {
    float: left;
    height: 100%;
    width: 8rem;
  }

  & > div span {
    display: block;
    font-weight: 800;
  }
}

.coin200 {
  height: 0.365rem;
  background-color: #f1fbfd;
}

.coin100 {
  height: 0.405rem;
  background-color: #fdf1c7;
}

.coin50 {
  height: 0.405rem;
  background-color: #e4d182;
}

.coin20 {
  height: 0.365rem;
  background-color: #e4d182;
}

.coin10 {
  height: 0.33rem;
  background-color: #e4d182;
}

.coin5 {
  height: 0.33rem;
  background-color: #f3c1a0;
}

.coin2 {
  height: 0.278rem;
  background-color: #f3c1a0;
}

.coin1 {
  height: 0.27rem;
  background-color: #f3c1a0;
}

.coin-input {
  margin-top: -0.2rem;
  margin-bottom: 0.6rem;
  position: relative;

  input {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: solid 0.2rem rgba(255, 255, 255, 0.2);
    transition: border-bottom 0.2s;
    margin: 0 0.25rem;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1rem;

    &:focus {
      border-bottom: solid 0.2rem #ffee58;
    }

    &:nth-child(1) {
      width: 3rem;
    }

    &:nth-child(2) {
      width: 3.2rem;
    }
  }

  &::after {
    content: '€';
    display: block;
    top: 0.1rem;
    right: 0.4rem;
    position: absolute;
    font-size: 0.9rem;
  }
}

.header-box {
  width: 60rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: #424242;
  color: #fff;
  font-size: 1.1rem;
  clear: both;
  padding: 0 0.5rem;

  div {
    span {
      float: left;
      padding: 0 1rem;
      border-radius: 1.2rem;
      margin: 0.7rem 0.5rem;
      border: solid 1px rgba(255, 255, 255, 0.5);
      line-height: 2.4rem;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
      font-size: 1rem;
      &:hover {
        background-color: #616161;
      }
    }

    &:first-of-type {
      float: left;
    }

    &:last-of-type {
      float: right;
    }
  }
}

.cash-box {
  border: solid 1px rgba(0, 0, 0, .25);
  border-radius: 0.4rem;
  width: 60rem;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  margin: 1rem auto;
}

.note-box {
  width: 60rem;
  height: 14rem;
  background-color: #424242;
  color: #FFF;
  padding: 2rem;
  clear: both;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  & > div {
    float: left;
    height: 100%;
    width: 11.2rem;
  }

  & > div > div > span {
    display: block;
    font-weight: 800;
    padding-left: 2rem;
  }
}

.note-input {
  margin-top: -0.2rem;
  margin-bottom: 0.6rem;
  position: relative;
  margin-left: 1rem;
  width: 9rem;

  input {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
    border-bottom: solid 0.2rem rgba(255, 255, 255, 0.2);
    transition: border-bottom 0.2s;
    margin: 0 0.25rem;
    -moz-appearance: textfield;
    appearance: textfield;
    font-size: 1rem;

    &:focus {
      border-bottom: solid 0.2rem #ffee58;
    }

    &:nth-child(1) {
      width: 3rem;
    }

    &:nth-child(2) {
      width: 3.2rem;
    }
  }

  &::after {
    content: '€';
    display: block;
    top: 0.1rem;
    right: 0.4rem;
    position: absolute;
    font-size: 0.9rem;
  }
}

.note-group {
  position: relative;
}

.note-stack {
  width: 100%;
  height: 8rem;
  position: relative;
}

.note {
  width: 8rem;
  height: 4rem;
  position: absolute;
  top: 1.7rem;
  left: 1.1rem;

  img {
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  }

  &:first-child {
    opacity: 0.2;
  }
}

.note-button {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 0.2s;

  span {
    display: block;
    text-align: center;
    height: 3rem;
    line-height: 3rem;
    margin: 0 1rem;
    background-color: transparent;
    transition: background-color 0.2s;
    color: #333;
    font-size: 1.5rem;

    &:hover {
      background-color: rgba(255, 255, 255, .5);
    }
  }

  &:hover {
    opacity: 1;
  }
}